body{
    background-color: rgb(253, 168, 88);
    display: grid;
    justify-content: center;
}


#cuerpo{
    position: relative;
    height: 100vh;
}


#titulo{
    background-color: darkorange;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid darkorchid;
    font-size: 40px;
    margin-bottom: 15%;
    height: 3%;
    width: 33%;
    margin: 0 auto;
}


h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin-bottom: 10px;
    height: 95%;
    width: 45%;
    color: orange;
    border: 2px solid blue;
    background-color: skyblue;
    border-width: 2px;
    margin: 0 auto;
}


p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}


#busqueda-de-empleo{
    display: grid;
}


label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    font-style: oblique;
}


.informacion{
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}


.pregunta{
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}


#pregunta-1-7{
    min-width: 150px;
    max-width: 200px;
    min-height: 150px;
    max-height: 200px;
}


#video{
    min-width: 150px;
    max-width: 200px;
    min-height: 150px;
    max-height: 200px; 
}


mark{
    background-color: skyblue;
    color: blue;
}

#formulario-de-empleo{
    background-color: goldenrod;
    text-align: center;
    border: 15px double rgb(116, 116, 255);
    display: grid;
    justify-items: center;
    margin: 0 auto;
    width: 30%;
    height: 95%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


input, textarea{
    margin-bottom: 10px;
}


#envio{
    margin-top: 15px;
    font-size: large;
}

