body{
    background-color: rgb(44, 137, 173);  
}


.logo{
    position: absolute;
    top: 0;
    left: 0;
}


.logo img{
    width: 200px;
    height: auto;
}


h4{
    background-color: skyblue;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border: 7px solid fuchsia;
    font-size: 40px;
    margin-bottom: 15%;
    height: 95%;
    width: 46%;
    margin: 0 auto;
    animation: aparicion 4s;
}


@keyframes aparicion{
   0%{
      opacity: 0;
      transform: translateY(-100%);
   }
   100%{
      opacity: 1;
      transform: translateY(0);
   }
}


.candidato{
    background-color: darkorange;
    border: 5px solid powderblue;
    width: 20%;
    margin-bottom: 15px;
    margin: 0 auto;
}


#vuelta{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 auto;
}


#inicio-1{
    background-color: skyblue;
    text-align: center;
    font-size: 20px;
    width: 150px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid fuchsia;
    margin: 0 auto;
}


#inicio-2{
    background-color: skyblue;
    text-align: center;
    font-size: 20px;
    width: 150px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid fuchsia;
    margin: 0 auto;
}